APP_NAME="Backend Bake-off PHP"
APP_ENV=local
APP_DEBUG=false
APP_URL=http://localhost:8086

LOG_CHANNEL=stdout
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=bakeoff
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=bakeoff_php

TAX_SERVICE_URL=http://tax-service:8087
LISTEN_ADDR=0.0.0.0:8086
RUNTIME_NAME=php
